*{
  width: 90vw;
  position: relative;
}

body{
  background-color: #dddddd;
  color: black;
  width: 100%;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 80px;
  text-align: center;
  color: #f2f2f2;
}

#app{
  position: absolute;
  left: -10px;
  top: -10px;
}

.app-container {
  background-color: cadetBlue;
}

.nav-container {
  position: fixed;
  height: 20px;
  width: 90vw;
  background-color: darkGrey;
}

.title-container {
  top: 0vh;
  display: block;
  height: 100vh;
  background-color: blue;
}

.title-img {
  width: 300px;
}

.projects-container {
  height: 100vh;
  display: block;
}

.footer-container {
  height: 100vh;
  display: block;
}
