* {
  position: relative;
}

body {
  font-family: 'Reenie Beanie', cursive;
  background-color: #040404;
  color: #dddddd;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: #f2f2f2;
}

#app {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
}

.app-container {
  background-color: #121718;
}

/* OVERLAY */

.nav-container {
  position: fixed;
  z-index: 99;
  height: 7%;
  width: 100%;
  top: 0px;
  margin-left: -5%;
  background-color: #000000;
}

.nav-butt {
  display: inline-block;
  width: 100px;
  height: 5vh;
  padding: 2vh 1.5vw 0vh 1.5vw;
  text-align: center;
  font-size: 2em;
  background-color: blue;
  color: #f2f2f2;
}

.footer-container {
  display: block;
  height: 100vh;
}

/* TITLE */

.title-container {
  display: block;
  top: 0vh;
  height: 100vh;
  background-color: #000000;
}

.title-img {
  width: 300px;
}

/* PROJECTS */

.projects-container {
  display: block;
}

.proj-img {
  width: 300px;
}

.project-tile {

}
